         <div class="header9">
           
  <div id="carousel-example-generic" class="carousel shen9 slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/catalog/loup1.jpg" alt="...">
      <div class="carousel-caption">
       <div class="play2" > <a href ="video.html"> <img src="../images/play.png" class="" ></a>  </div> 
      </div>
    </div>

    <div class="item">
      <img src="images/catalog/loup7.jpg" alt="...">
      <div class="carousel-caption">
       <div class="play2" > <a href ="video.html"> <img src="../images/play.png" class="" ></a>  </div> 
      </div>
    </div>
    
    <div class="item">
      <img src="images/catalog/loup6.jpg" alt="...">
      <div class="carousel-caption">
       <div class="play2" > <a href ="video.html"> <img src="../images/play.png" class="" ></a>  </div> 
      </div>
    </div>
  </div>
  
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
        </div>  
          </div>  
      <br /><br /><br /><br />
            
           
    
          
   
          

 
            <div class="shen11">  <h2>LES PLUS POPULAIRES <span class="glyphicon glyphicon-triangle-right" ></span> </h2> </div>
        <br /><br/>       
        
        
          
      
          <div class="container" >
    <div class="col-lg-12" >
    
      
      <div id="owl-demo">

        <div class="item bords2"><div type="button" class=".btn .btn-link" id="car1"><img src="../images/etoile.jpg"class="bords2" alt="Owl Image"></div></div> 

        <div class="item bords2"><div type="button" class=".btn .btn-link" id="car2"><img src="../images/sori.jpg"class="bords2" alt="Owl Image"></div></div> 

        <div class="item bords2"><div type="button" class=".btn .btn-link" id="car3"><img src="../images/leuk.jpg"class="bords2" alt="Owl Image"></div></div> 

        <div class="item bords2"><div type="button" class=".btn .btn-link" id="car4"><img src="../images/slide5.jpg"class="bords2" alt="Owl Image"></div></div> 

        <div class="item bords2"><div type="button" class=".btn .btn-link" id="car5"><img src="../images/sagarslide2.jpg"class="bords2" alt="Owl Image"></div></div>  

 
 

 
      </div>
    </div>

       </div>


        <div class="container space"> 
        <div class="row">
            <div id="div1" style="width:1100px;height:250px;display:none;background-color:#324250;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button1" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title3"> ETOILES NOIRES  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende2">  Un documentaire de Djeydi Djigo  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste2"> </b></b>Etoiles noires est un documentaire qui raconte la vie des leaders ayant positivement l'histoire de l'afrique. Il est subdivisé en 10 parties, chaque partie correspondant à un épisode, chaque épisode correspondant à un personnage.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

               <div id="div2" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button2" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> SORI  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Pape Abdoulaye Seck </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b> Sori est un documentaire qui retrace la vie de quelques immigrés Sénégalais établis au Maroc. Le quotidien de ces derniers vous sera raconté à travers la caméra de Pape abdoulaye Seck.  </div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

              <div id="div3" style="width:1100px;height:250px;display:none;background-color:#324250;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button3" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title3"> Samba Et Leuk  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende2"> Une série télévisée de Olivier Massart </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste2"> </b></b>  Samba et Leuk le lièvre est une série télévisée franco-canadienne en 26 épisodes de 26 minutes, créée par Olivier Massart et diffusée à partir du 30 avril 1997 sur France 2 dans l'émission La Planète de Donkey Kong. <br /> Samba, un garçon élevé par des lions dans la brousse africaine est recueilli par les habitants d'un village et choisi pour les sauver d'une malédiction du dieu Togoum.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

               <div id="div4" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button4" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> Beauté Noire  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

            <div id="div5" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button5" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> Sagar  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>



        </div>
        </div>  

          
          
    <div class="container" >
    <div class="col-lg-12" >
    
    
    <div id="demo">
    <section id="examples">
    
      
      <!-- demo content -->
      <div id="content-4" class="content">
        <ul>
           <% _.each(videosPopulaires, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-1">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %></b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %> 

        </ul>
      </div>
      <!-- -//- -->
      
    </section>
  
    
  </div>
   </div>
  </div>

              <div class="shen11">  <h3>LES PLUS RECENTS <span class="glyphicon glyphicon-triangle-right" ></span> </h3> </div>
        <br /><br/>       
        
        
          
      
          
          
          
    <div class="container" >
    <div class="col-lg-12" >
    
    
    <div id="demo">
    <section id="examples">
    
      
      <!-- demo content -->
      <div id="content-5" class="content">
        <ul>
           <% _.each(videosRecentes, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-1">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %></b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %> 

        </ul>
      </div>
      <!-- -//- -->
      
    </section>
  
    
  </div>
   </div>
  </div>
   
<div class="shen11">  <h3>LES MIEUX NOTES <span class="glyphicon glyphicon-triangle-right" ></span> </h3> </div>
        <br /><br/>       
        
        
          
      
          
          
          
    <div class="container" >
    <div class="col-lg-12" >
    
    
    <div id="demo">
    <section id="examples">
    
      
      <!-- demo content -->
      <div id="content-6" class="content">
        <ul>
           <% _.each(videosMostRated, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-1">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %> 

        </ul>
      </div>
      <!-- -//- -->
      
    </section>
  
    
  </div>
   </div>
  </div>
                  
                  
           <div class="shen11">  <h3>NOS RECOMMANDATIONS</h3> </div>
        <br /><br/>       
        
        

          <div class="container" >
    <div class="col-lg-12" >
    
      
      <div id="owl-demo2">

        <div class="item bords3"><div type="button" class=".btn .btn-link" id="car6"><img src="../images/sagarslide2.jpg"class="bords3" alt="Owl Image"></div></div> 

        <div class="item bords3"><div type="button" class=".btn .btn-link" id="car7"><img src="../images/slide3.jpg"class="bords3" alt="Owl Image"></div></div> 

        <div class="item bords3"><div type="button" class=".btn .btn-link" id="car8"><img src="../images/slide4.jpg"class="bords3" alt="Owl Image"></div></div> 

        <div class="item bords3"><div type="button" class=".btn .btn-link" id="car9"><img src="../images/slide5.jpg"class="bords3" alt="Owl Image"></div></div> 

        <div class="item bords3"><div type="button" class=".btn .btn-link" id="car10"><img src="../images/sagarslide2.jpg"class="bords3" alt="Owl Image"></div></div>  

 
 

 
      </div>
    </div>

       </div>


        <div class="container space"> 
        <div class="row">
            <div id="div6" style="width:1100px;height:250px;display:none;background-color:#324250;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button6" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title3"> SAGAR  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende2"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste2"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

               <div id="div7" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button7" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> Beauté Noire  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

              <div id="div8" style="width:1100px;height:250px;display:none;background-color:#324250;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button8" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title3"> YAM DAM  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende2"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste2"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

               <div id="div9" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button9" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> Beauté Noire  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>

            <div id="div10" style="width:1100px;height:250px;display:none;background-color:#F5F9FA;margin-left: 40px;margin-bottom: 30px;">
                  <button type="button" id="button10" class="btn btn-link">Fermer</button>  
                  <div class="row">
                    <div class="col-lg-12">
                      <b class="title4"> Sagar  ★★★★</b>
                    </div>
                    <div class="col-lg-12">
                      <div class="legende"> Un film original de Ousmane Sémbene  </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="teste"> </b></b>  Sagar est une ville de l'État du Madhya Pradesh, en Inde centrale. Sagar est située sur un éperon de la chaîne Vindhya à une altitude de 1758 m au-dessus du niveau de la mer et à environ 180 km au nord de la capitale de l'État, Bhopal.</div>
                    </div>
                    <div class="col-lg-12">
                        <button type ="button" class="btn btn-default btn-xs" style="margin-left : 40px; margin-top :-20px;"> Regarder le film </button>
                        <button type ="button" class="btn btn-primary btn-xs" style="margin-left : 40px; margin-top :-20px;"> Ajouter aux favoris </button>
                    </div>
                  </div>

             </div>



        </div>
        </div>  

          
          
          <div class="container">
      
          
          
          
    <div class="container" >
    <div class="col-lg-12" >
    
    
    <div id="demo">
    <section id="examples">
    
      
      
      <div id="content-3" class="content">
        <ul>
          <li><a href="video.html"><img class="bords" src="images/catalog/ss15.jpg"  /></a></li>
            <li><a href="#"><img  class="bords"src="images/catalog/ss19.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss20.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss3.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss4.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss5.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss6.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss7.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss8.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss9.jpg"  /></a></li>
            <li><a href="#"><img class="bords" src="images/catalog/ss10.jpg"  /></a></li>
            <li><a href="#"><img  class="bords" src="images/catalog/ss11.jpg"  /></a></li>
            <li><a href="#"><img class="bords"  src="images/catalog/ss12.jpg"  /></a></li>
            <li><a href="#"><img  class="bords" src="images/catalog/ss13.jpg"  /></a></li>

        </ul>
      </div>
      
      
    </section>
  
    
  </div>
   </div>
   
   

                               


          </div>
          </div> 
          
          <div class="container coloro">
          
            <div id="Tabs" class="block demo-tabs">
              <h2></h2>
              <ul class="shen11">
                <li class="ddkit-anchor ddkit-opened "><a href="#" class="ddkit-trigger" rel="#tabcontent01"><H3>COMEDIE </h3></a></li>
                <li class="ddkit-anchor"><a href="#" class="ddkit-trigger" rel="#tabcontent02"><h3>THRILLER</h3></a></li>
                <li class="ddkit-anchor"><a href="#" class="ddkit-trigger" rel="#tabcontent03"><h3>ACTION</h3></a></li>
                <li class="ddkit-anchor"><a href="#" class="ddkit-trigger" rel="#tabcontent04"><h3>ROMANCE</h3></a></li>
                <li class="ddkit-anchor"><a href="#" class="ddkit-trigger" rel="#tabcontent05"><h3>DRAME</h3></a></li>
                <li class="ddkit-anchor"><a href="#" class="ddkit-trigger" rel="#tabcontent06"><h3>ANIMATION</h3></a></li>
                

              </ul>
              <div class="spacer"></div>
              <div id="tabcontent01" class="ddkit-target">
              
                
               <% _.each(videosComedie, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %>     
        
          
              </div>
              <div id="tabcontent02" class="ddkit-target">
              
                         
               <% _.each(videosThriller, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %>       
        
          
              </div>
              <div id="tabcontent03" class="ddkit-target">
                
                <% _.each(videosAction, function(video) { %>
             <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %>    
              
              </div>

               <div id="tabcontent04" class="ddkit-target">
                
                <% _.each(videosRomance, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %>    
              
              </div>  
              
              <div id="tabcontent05" class="ddkit-target">
               <% _.each(videosDrame, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %> 
              </div>
              
              <div id="tabcontent06" class="ddkit-target">
                 <% _.each(videosAnimation, function(video) { %>
              <% if (video) { %>
                    <div class="col-lg-2">
                     <div class="hover panel ">
                        <div class="front">
                             <div class="pad pic ">
                                  <img class="bords" src="<%= video.pictures[0].link %>" alt="logo front" />
                             </div>
                         </div>
                       <div class="back ">
                          <div class="pad bord">
                        <br /> 
                            <div class="tex" > <a href="#" > <b>Resumé :</b> </a> <b> <%= video.description.slice(0,122) %>
                            <% if (video.description.length > 122) { %>
                              ...
                            <% } %></b>  <br /><a href="#" > <b>Realisteur :</b> </a><b><%= video.director %> </b><a href="#" ><br/> <b>Acteurs :</b> </a> <b> <% if (video.actors) { len = video.actors.length; %>
                                  <% _.each(video.actors, function(actor , index) {  %>
                                  <%= actor %> <% if(index < len-1) { %> , <% } %>
                                  <% }) %>
                                  <% } %>  </b> <br /><a href="#" > <b>Genres :</b> </a><b>  <% if (video.genres) { len = video.genres.length; %>
                              <% _.each(video.genres, function(genre , index) {  %>
                              <%= genre %> <% if(index < len-1) { %> , <% } %>
                              <% }) %>
                              <% } %></b>  <br /></div>                                          </div>

                              <div class="bouton" > <a href ="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <img src="images/catalog/play.png" class="" ></a>  </div> 
                                              </div>
                                            </div>  
                                   <a href="/video/show?vi=<%=video.id%>&vn=<%=video.title%>"> <h4 class="se" ><%= video.title %></h4> </a>
                               </div>  
           <% } %>
           <% }) %> 
              </div>  
          </div>
          
      </div>    

  
